*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ECF2F8;
}

.card-container{
    background-color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;

}

.flex-container{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
}